<div class="col-md-6 detail-container">
  <article class="listing">
      <img src="{{experience.image}}" alt="">
      <h3> {{experience.title}}</h3>
      <div class="detail owner">
        <span>Company:</span> {{experience.company}}
      </div>
      <div class="detail type">
        <span>Location:</span> {{experience.city}}
      </div>
      <div class="detail location">
        <span>Start:</span> {{experience.start}}
      </div>
      <div class="detail bedrooms">
        <span>End:</span> {{experience.end}}
      </div>

  </article>
  {{location-map location=experience.location}}
  </div>
